<div class="table-users">
    <div class="header">Open Pull Requests</div>
    
    <div class="table-wrapper">
    <table cellspacing="0"> 
       <tr *ngFor='let pullRequest of pullRequests'>
          <td><a href="{{pullRequest.url}}">{{pullRequest.title}}</a></td>
       </tr>
    </table>
    </div>
 </div>