<div class="table-users">
    <div class="header">Followers</div>
    
    <div class="table-wrapper">
    <table cellspacing="0">
       <tr *ngFor='let follower of followers'>
          <td><img src="{{follower.avatarUrl}}" alt="" /></td>
          <td><a href="http://github.com/{{follower.login}}">{{follower.login}}</a></td>
       </tr>
    </table>
    </div>
 </div>