<html height=100% lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Variable-width Search Box</title>
</head>

<body>
  <h1>Github Explorer</h1>
  <div id='container'>  
      <app-user-dropdown (emitUsername)="usernameSet($event)"></app-user-dropdown>
  </div>
  <app-followers-view [username]="username" *ngIf="username"></app-followers-view>
  <app-pull-request-view [username]="username" *ngIf="username"></app-pull-request-view>
</body>

</html>