.user-choice {
    display: fixed;
    border-bottom: 1px solid lightgray;
    background-color: #f8f8f8;
}

.user-choice:hover {
    background-color: lightblue;
}

.user-cell {
    display: table-cell;
}

.left {
    width: 50px;
    padding: 3px;
}

.right {
    vertical-align: top;
    padding-left: 20px;
    padding-top: 20px;
}

input[type=search], div.button {  
    width: 100%;
    height: 35px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: inherit;
    font-size: inherit;
}
  
input[type=search] {
    margin: 0;
    padding: 0 10px;
    
    background-color: #f8f8f8;
    
    border: 0;
    border-radius: 5px;
}


