<div class="cell">
  <input type="search"
    #searchBox
    placeholder="Search"
    [value]="username"
    (focus)="focus=true" 
    (keyup)="setUsername(searchBox.value)">
</div>
<div class="cell" *ngIf="focus">
  <div *ngFor='let user of users$ | async' class="user-choice" (click)="clickUsername(user.login)">
    <div class="user-cell left">
      <img src="{{user.avatarUrl}}"  height="50" width="50"/>
    </div>
    <div class="user-cell right">{{user.login}}</div>
  </div>
</div>